
body {
    background: repeating-linear-gradient(-45deg, white, white 4px, #e9e8e7 4px, white 6px);
}

.m_shadow {
    box-shadow:-0.3em 0 0.4em lightgrey !important;
}
.center_block{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: -webkit-center;
}
.m_border{
    border-style: hidden !important;
}
.form-signin {
    width: 100%;
    max-width: 100%;
    padding: 50px !important;
    margin: 0 auto;
    background-color: white;
}

