.btnDiv {
    width: 250px;
    margin: 10px;
    border: 2px solid #155799;
    padding: 6px 24px;
    font-size: 1.15em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #155799;
    background-color: #f1f2f2;
    transition: all 0.25s ease-in-out;
}
.btnDiv:hover {
    background-color: #155799;
    border-color: #155799;
    color: #f1f2f2;
}
.btnDiv:active {
    background-color: #155799;
    border-color: #155799;
    color: #f1f2f2;
    box-shadow: none;
}
.btnDiv:focus, .btnDiv:active:focus {
    background-color: #155799;
    border-color: #155799;
    color: #f1f2f2;
    outline: 5px auto #155799;
}
.btnDiv:visited {
    background-color: #155799;
    border-color: #155799;
}

